/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.striped-background {
  background: repeating-linear-gradient(
    -45deg,
    black,
    black 25px,
    orange 25px,
    orange 50px
  );
  text-shadow: 2px 2px black;
}

.striped-background {
  text-shadow: 2px 2px black;
}