---

const {title, children} = Astro.props

---

<div class="border px-6 py-6 rounded shadow-lg bg-slate-100">
  <h3 class="font-semibold text-xl">{title}</h3>
  <div class="text-justify">
    <slot />
  </div>
</div>
