---
const { label, class: className } = Astro.props;
---

<a class={`btn btn-primary p-2 w-full my-2 ${className}`} href="https://docs.google.com/document/d/1M6ezjeCDQU7t6EJydXqB6HCp7HLCBr8GOXN6O0jGqeo/export?format=pdf">
  Faça o download do meu currículo
</a>