---
const {label} = Astro.props
---

<a href="https://drive.google.com/uc?export=download&id=1FtkUKyldrk4es8CxYAEN9F6NEhJKo1Nf" target="_blank" rel="noopener noreferrer">
  <button class="btn btn-primary p-2 w-full my-2">Faça o download do meu currículo</button>
</a>