---
const {label} = Astro.props
---

<a href="https://docs.google.com/document/d/181SeGfxoZqtr9FOl2Bky67gdsc7KfkImPV7wGelE4Wo/export?format=pdf">
  <button class="btn btn-primary p-2 w-full my-2">Faça o download do meu currículo</button>
</a>