---
---

<section class="h-screen flex flex-col lg:flex-row justify-center items-center px-10">
  <div class="flex flex-col gap-4 lg:w-1/2">
    <h1 class="text-2xl text-center lg:text-left font-extrabold lg:text-5xl">Márcio Machado Pontes</h1>
    <p class="text-center lg:text-left text-sm">Empreendedor | Tecnologia | Design | Marketing Digital</p>
    <p class="text-center lg:text-left tracking-wider">
      Bem-vindo ao meu site! Sou Márcio, um entusiasta da tecnologia com uma paixão por transformar ideias em soluções digitais inovadoras. Com expertise em Design UI/UX, Programação e estratégias de marketing digital + SEO, estou aqui para levar seus projetos ao próximo nível.
    </p>
    <p class="text-justify tracking-wider">
      Se você está buscando um profissional dedicado, criativo e sempre em busca das últimas tendências e inovações do mundo digital, você está no lugar certo. Vamos juntos transformar sua visão em realidade!
    </p>
    <!-- <p>
      Transformando ideias em soluções digitais inovadoras. Com expertise em Front-End, Design UI/UX e Marketing Digital, estou pronto para levar seus projetos ao próximo nível.
    </p> -->
    <div class="border flex gap-2 flex-col lg:flex-row">
      <a class="btn w-full lg:w-1/2 bg-primary hover:text-black text-white" href="https://api.whatsapp.com/send/?phone=5521993233208&text&type=phone_number&app_absent=0" target="_blank">
        Entre em contato
      </a>
      <a class="btn w-full lg:w-1/2 bg-gray-600 hover:text-black text-white" href="/profile">
        Veja meu perfil completo
      </a>
    </div>
  </div>
  <div id="hero-section" class="hidden lg:flex">
    <img src="/hero-image.svg" alt="">
  </div>
</section>
