---
import CardProject from "./CardProject.astro";

---

<section class="px-4 flex flex-col gap-2 striped-background py-6 text-white">
  <h2 class="font-bold text-center text-5xl uppercase">Portfólio</h2>
  <p class="text-center">Em construção, aguarde!</p>
  <!-- <CardProject 
    imageProject="http://fakeimg.pl/720x720?font=museo"
    title="Shell ideation - Startup I2MW" 
    description="Wells Manager é uma inovadora plataforma digital focada em gerar e cultivar ideias sustentáveis para o futuro da energia" 
    linkProject="#"
  />
  <CardProject 
    imageProject="http://fakeimg.pl/720x720?font=museo"
    title="Shell ideation - Startup I2MW" 
    description="Wells Manager é uma inovadora plataforma digital focada em gerar e cultivar ideias sustentáveis para o futuro da energia" 
    linkProject="#"
  />
  <CardProject 
    imageProject="http://fakeimg.pl/720x720?font=museo"
    title="Shell ideation - Startup I2MW" 
    description="Wells Manager é uma inovadora plataforma digital focada em gerar e cultivar ideias sustentáveis para o futuro da energia" 
    linkProject="#"
  />
  <a href="" class="btn flex">Ver mais</a> -->
  
</section>