---
import CardProject from "./CardProject.astro";

const listProjects = [
  {label: "Github 3D", link: "https://github.com/marcinhojazz", imagem: ""},
  {label: "Alkimera Metaverso", link: "https://alkimera-metaverso.netlify.app", imagem: ""},
  {label: "Vozes Seguras (Hackaton)", link: "https://sv-platform.vercel.app/", imagem: ""},
  {label: "Consulta Empresas (Dev Web)", link: "https://consultaempresas.netlify.app/", imagem: ""},
  {label: "Mischief 3D", link: "https://mischief3d.netlify.app", imagem: ""},
  {label: "Marcio Machado Portfolio 2", link: "https://marciomachado-portfolio.netlify.app", imagem: ""},
  {label: "MarcioCGI", link: "https://marciocgi.netlify.app", imagem: ""},
  {label: "Scroll Gallery", link: "https://alkimeraxr-scrollgallery.netlify.app", imagem: ""},
  {label: "Alkimera XR Astro + ThreeJS + GLSL", link: "https://alkimeraxr-demos.netlify.app", imagem: ""},
  {label: "Marcio", link: "https://alkimera-mindfulness.netlify.app", imagem: ""},
  {label: "Alkimera Mindfulness", link: "https://alkimera-mindfulness.netlify.app", imagem: ""},
  {label: "Site Projeto Alkimera", link: "https://alkimera.netlify.app/", imagem: ""},
  {label: "Razin Studio Motions", link: "https://www.youtube.com/@razinstudio8060", imagem: ""},
  {label: "Behance", link: "https://www.behance.net/mischief3D", imagem: ""},
  {label: "I2MW, Shell Ideation - P 1", link: "https://marvelapp.com/prototype/ddbdi90/screen/65618284", imagem: ""},
  {label: "I2MW, Shell Ideation - P 2", link: "https://xd.adobe.com/view/c61a8307-7258-4b39-9a3d-1527430fde78-9349/", imagem: ""},
  {label: "Cine Guru", link: "https://cineguru.netlify.app/", imagem: ""},
]

const {label, link, imagem} = Astro.props


---

<section id="portfolio" class="px-4 flex flex-col gap-2 py-6">
  <div class="striped-background py-6 text-white">
    <h2 class="font-bold text-center text-5xl uppercase">Portfólio</h2>
    <p class="text-center bg-black py-1">Em construção, aguarde!</p>
  </div>
  <!-- <p class="font-bold uppercase text-center py-6">Mas você pode conferir alguns trabalhos nos links abaixo:</p> -->
  <div>

    <!-- <div>
      <div class="flex flex-col bg-slate-200 rounded p-2">
        <span>GitHub 3D</span>
        <a href="#">www....</a>
      </div>
    </div> -->
    
    <ul class="grid lg:flex lg:flex-wrap gap-4 lg:justify-center py-4">
      {listProjects.map((project) => (
        <li>
          <div class="flex flex-col bg-slate-200 rounded p-2">
            <p class="font-bold">{project.label}</p>
            <a href={project.link} class="text-blue-500 break-all">{project.link}</a>
          </div>
        </li>
      ))}
    </ul>

  </div>
  
  <!-- <CardProject 
    imageProject="http://fakeimg.pl/720x720?font=museo"
    title="Shell ideation - Startup I2MW" 
    description="Wells Manager é uma inovadora plataforma digital focada em gerar e cultivar ideias sustentáveis para o futuro da energia" 
    linkProject="#"
  />
  <CardProject 
    imageProject="http://fakeimg.pl/720x720?font=museo"
    title="Shell ideation - Startup I2MW" 
    description="Wells Manager é uma inovadora plataforma digital focada em gerar e cultivar ideias sustentáveis para o futuro da energia" 
    linkProject="#"
  />
  <CardProject 
    imageProject="http://fakeimg.pl/720x720?font=museo"
    title="Shell ideation - Startup I2MW" 
    description="Wells Manager é uma inovadora plataforma digital focada em gerar e cultivar ideias sustentáveis para o futuro da energia" 
    linkProject="#"
  />
  <a href="" class="btn flex">Ver mais</a> -->
</section>