---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<GoogleAnalytics />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	</head>

	<body>
		<Header title={SITE_TITLE} />
		<main class="">
			<slot />
		</main>
		<Footer />
	</body>
</html>